<div class="push"></div>
  <footer>
    <aside class="wrap">
      <ol class="prev-posts">
        <p class="list-title">Collection Highlights</p>
        {% for post in site.posts | limit:3 %} <!-- for1 -->
            <li>
              <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }} </a></span>
            </li>
        {% endfor %}
      </ol>

      <div class="social">
        <ul>
            <li><a href="http://catalog.lib.ku.edu/cgi-bin/Pwebrecon.cgi?DB=local&PAGE=First" target="_blank"><span class="foot-link" >KU Catalog</span></a></li>
            <li><a href="https://spencer.lib.ku.edu/" target="_blank"><span class="foot-link">KSRL Home</span></a></li>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><span style="font-size:1.5em;">The InK Project</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName"><span style="font-size:1.5em;">Erik Alder, Christi Ivers, Heather Tennison</span> <span style="font-size:1.5em;"> is available under the terms of the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"> Creative Commons Attribution License -  Sharing under the Same Conditions 4.0 International</span></a>.
        </ul>
    </div>
    </aside>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>


  </body>
</html>
